.main-content {
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 0 2rem 0;
    min-height: calc(100vh - 200px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
}

@media (max-width: 768px) {
    .main-content {
        padding: 0 0 1rem 0;
    }
}

